@import "tailwindcss";

@theme {
  --animate-shakeX: shakeX 0.5s ease-in-out 1;
  @keyframes shakeX {
    0% { transform: translateX(0) }
    25% { transform: translateX(5px) }
    50% { transform: translateX(-5px) }
    75% { transform: translateX(5px) }
    100% { transform: translateX(0) }
  }

  --animate-wiggle: wiggle 0.15s ease-in-out 3;
  @keyframes wiggle {
    0%,
    100% {
      transform: rotate(-5deg);
    }
    50% {
      transform: rotate(5deg);
    }
  }

  --animate-correct: correct 1.75s ease-out 1;
  @keyframes correct {
    0%, 50% {
      background: var(--color-lime-500);
    }
    100% {
      background: transparent;
    }
  }

  --animate-duplicate: duplicate 1.5s ease-out 1;
  @keyframes duplicate {
    0%, 11% {
      background: var(--color-yellow-500);
    }
    12%, 22% {
      background: transparent;
    }
    23%, 34% {
      background: var(--color-yellow-500);
    }
    100% {
      background: transparent;
    }
  }
}